@model IEnumerable<DogInformation.Models.Dog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Breed.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DogAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DogGender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Breed.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DogAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DogGender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DogID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DogID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DogID })
        </td>
    </tr>
}

</table>
